imageio==2.6.0
imagesize==1.1.0
matplotlib==3.1.1
numpy==1.16.5
pandas==0.25.1
pep8==1.7.1
Pillow==8.3.2
pkginfo==1.5.0.1
plotly==4.5.0
pyTelegramBotAPI==3.7.1
python-dateutil==2.8.0
requests==2.7.0
scipy==1.3.1
seaborn==0.9.0
telebot==0.0.3
torch==1.4.0
torchvision==0.5.0
tqdm==4.36.1
urllib3==1.24.2
virtualenv==20.0.25
